// Sass for videojs-closed-captions

.video-js {

  // This class is added to the video.js element by the plugin by default.
  &.vjs-closed-captions {
    display: block;
    .vjs-caption-container {
       display: block;
       position: absolute;
       bottom: 50px;
       text-align: center;
       width: 100%;
       font-size : 14px;
    }
    .vjs-icon-captions-extends {
      cursor: pointer;
      .vjs-caption-menu {
          display : none;
          z-index: 18;
          position: absolute;
          bottom: 30px;
          right: 0;
          width: 90px;
          margin: 0;
          padding: 12px;
          background: rgba(0, 0, 0, 0.6);
          list-style: none;
          li{
            cursor : pointer;
            padding: 4px 0;
          }
          &:hover {
            display: block;
          }
      }
      &:hover {
        .vjs-caption-menu {
          display: block;
        }
      }
    }
  }
}
